@import "src/styles/variables.scss";

.mobile-control-bar {
  border-top: 1px solid $dark-gray4;
  height: 40px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $dark-gray1;
  padding-inline: 6px;
  column-gap: 3px;
  z-index: 11;

  button {
    font-size: 0.8em;
  }
}

.control-group {
  display: flex;
  column-gap: 6px;
}

.overflow {
  overflow-x: auto;
}

.bottom-sheet-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba($dark-gray1, 0.7);
  z-index: 10;
}

.bottom-sheet-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
