@import "src/styles/variables.scss";

.mobile-control-bar {
  border-top: 1px solid $dark-gray4;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $dark-gray1;
  padding-inline: 6px;
  column-gap: 3px;

  button {
    font-size: 0.8em;
  }
}

.control-group {
  display: flex;
  column-gap: 6px;
}

.overflow {
  overflow-x: auto;
}
