@use "src/styles/variables.scss" as vars;

.mobile-side-content-container {
  display: flex;
  height: 100%;
}

.mobile-side-content {
  width: 100%;
  background-color: vars.$cadet-color-3;
  user-select: none;
  padding: 6px 10px;
  border-top: 5px solid vars.$cadet-color-2;

  > * + * {
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.mobile-side-content-header {
  display: flex;
  justify-content: space-between;
}

.mobile-side-content-resize-handle {
  background-color: vars.$cadet-color-2;
}
