@import "src/styles/variables.scss";

.mobile-side-content {
  width: 100%;
  background-color: $cadet-color-3;
  user-select: none;
  padding: 6px 10px;
  row-gap: 15px;
  border-top: 5px solid $cadet-color-2;

  > * + * {
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.mobile-side-content-header {
  display: flex;
  justify-content: space-between;
}
